html {
  /* from https://css-tricks.com/snippets/jquery/smooth-scrolling/*/
  scroll-behavior: smooth;
}

div {
	margin:0 auto;
}

/* Thanks to https://www.geeksforgeeks.org/how-to-change-navigation-bar-color-in-bootstrap/*/
.navbar-custom { 
    background-color: rgba(219,222,231,0.9); 
} 
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: #954544; 
} 
/* Thanks to https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/?ref=rp*/

/* Set the border color to the desired color  
.custom-toggler.navbar-toggler { 
    border-color: rgba(149,69,68, 0.8); 
} 
*/

.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(149,69,68, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}
.nav-item .nav-link {
	color: #954544;
	
}


.cards {
	display:inline;
	width:900px;
}

.card {
	widt:300px; 
	height:400px;
}
.entrada {
	background: url("images/MockUp_web.jpg") repeat-x;	
	background-size: 100% auto;
	width:100%;
	height: 600px;
	
}
.description {
	position: absolute;
	right: 50%;
	top: 10%;
	margin-right: 15px;	
	color: #944443;
	background-color: rgba(219,222,231,0.9);/*#dbdee7;*/
	padding: 10px;
	border-radius: 5%;
}

.contact {
	position: absolute;
	right: 5%;
	top: 50%;
	margin-right: 15px;	
	color: #944443;
	background-color: rgba(219,222,231,0.9);/*#dbdee7;*/
	padding: 10px;
	border-radius: 5%;
	width: 500px;
}

.contact_end {
	margin:auto;
	position: relative;
	color: #944443;
	background-color: rgba(219,222,231,0.9);/*#dbdee7;*/
	padding: 10px;
	border-radius: 5%;
	width: 500px;
}

.contact p {
	margin-top: 20px;;
	
}

.btn.btn-primary {
	background-color: #954544;
	color: #a1aac9;
	border:none;
	font-weight: bold;
	
}
.history {
	margin-left:15%;
	width:300px;
	heigth: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.history_illustration{
		margin-top: 30%;
	
	
}

.rules_illustration{
		margin-top: 20%;	
}
.rules {
	margin-right:0;
	
}


.social_icons, .social_icons2 {
	justify-content: center;
	  display:flex;

}

.social_icons .fab, .social_icons .fa, .social_icons .fas {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  border-radius: 50%;
  text-decoration: none;
  margin: 5px 2px;
  text-align: center;
  justify-content: center;

}
.social_icons2 .fab, .social_icons2 .fa, .social_icons2 .fas {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  border-radius: 50%;
  text-decoration: none;
  margin: 5px 2px;
  text-align: center;
  justify-content: center;

}

.social_icons .fa-blog,.social_icons2 .fa-blog {
  background: #954544;
  color: white;
}

.social_icons .fa-facebook,.social_icons2 .fa-facebook {
  background: #3B5998;
  color: white;
}
.social_icons .fa-instagram ,.social_icons2 .fa-instagram {
  background: #125688;
  color: white;
}
.social_icons .fa-twitter ,.social_icons2 .fa-twitter {
  background: #125688;
  color: white;
}


.social_icons .fa-envelope,.social_icons2 .fa-envelope {
  background: #EBA966;
  color: white;
}



/* Adapted from https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=testimonial-carousel */

body {
	font-family: "Open Sans", sans-serif;
	background-color: white; /* #ded2d2 !important;*/
}
h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
	
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0  auto;
	height: 3px;
	background: #8fbc54;
	left: 0;
	right: 0;
	bottom: -10px;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}


p {text-align: center}


/* This fixes overflow between Pré-Encomendas and carousel indicators*/
/* thanks to https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Media_queries*/		
@media screen and (max-width:800px){
	 #pre {
            margin-top: 40px;
        }
	.description {
		position: relative;
		margin-left: 60%;
		margin-bottom: 10%;
		margin-top: 10%;
		width:300px;
		color: #944443;
		background-color: rgba(219,222,231,0.9);/*#dbdee7;*/
		padding: 10px;
		border-radius: 5%;
	}

	.contact {
		position: relative;
		margin-top: 10%;
		margin-left: 10%;
		color: #944443;
		background-color: rgba(219,222,231,0.9);/*#dbdee7;*/
		padding: 10px;
		border-radius: 5%;
		width: 90%;
	}
	
	.rules {
		margin-top:10%;
	}
	.rules img {
		width:100%;
	}
	
}



