<nav class="navbar fixed-top navbar-expand-lg navbar-custom">
	  <a class="navbar-brand" href="#">Papo a Papo</a>
	  <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="main_nav">
		<ul class="navbar-nav text-right">
		  <li class="nav-item active"> <a class="nav-link" href="#">Início </a> </li>
		  <li class="nav-item"><a class="nav-link" href="#historia"> História </a></li>
		  <li class="nav-item"><a class="nav-link" href="#comojogar"> Como Jogar </a></li>
		  <li class="nav-item"><a class="nav-link" href="#contactos"> Contactos </a></li>
		  <li class="nav-item"><a class="nav-link" href="./blog"> Blog </a></li>
		  <li class="nav-item"><a class="nav-link" href="./game/jogo.html"> Jogo </a></li>
		</ul>
	  </div> <!-- navbar-collapse.// -->
	</nav>
	<div>
		<img src="/images/MockUp_web.jpg" alt="Mockup do baralho de cartas" width=100%>
	</div>
	<div class="container">	
	
	<div class="description"> <p>Um jogo para aprofundar a ligação entre as pessoas.</p>
					<p>> 6 anos. De 2 a 30 jogadores.</p>  <p> Preço de Lançamento: 18 € (+ portes de envio) </p>
					<p><a href="#historia" class="btn btn-primary scroll">Quero saber Mais !</a></p>
	</div>	
     <a id="historia">
		<div class="row">
			<div class="col-md-6">
				<div class='history'>
					<img src="/images/historia.png" alt="">
				</div>
			</div>
			<div class="col-md-6">		
				<div class="history_illustration">
					<img src="/images/jogando.jpg" alt="pessoas jogando papo a papo" width="100%">
				</div>
			</div>
		</div>
	</a>
    <a id="comojogar">

	<div class="row">
		<div class="col-md-6">
			<div class='rules_illustration'>
				<img src="/images/tipos_cartas.jpg" width="100%" alt="">
			</div>
		</div>
		<div class="col-md-6">		
			<div class="rules">
				<img src="/images/regras.png" alt="Regras do Jogo Papo a Papo">
			</div>
		</div>
	</div>
	</a>
			<div class="contact">
				<h2 id='pre'>Pré-Encomendas</h2>
				<p> Para fazer já a sua pré-encomenda envie um e-mail para <a href="mailto:papoapapo2020@gmail.com">papoapapo2020@gmail.com</a>, com o seu nome, morada de correspondência e e-mail de contacto.
				Clique <a href="mailto:papoapapo2020@gmail.com">aqui</a> para enviar já o seu e-mail !</p>
			</div>
	</div>
	<a id="contactos"
	<div class="row">	
		<div class="col-md-12 col-center m-auto">
				<div class='social_icons'>
					<p style="margin-top:30px;">Siga e contacte-nos em <br>
						<a href="/blog"  target="_blank"><i class="fas fa-blog"></i></a>
						<a href="https://www.facebook.com/papoapapo2020"  target="_blank"><i class="fab fa-facebook"></i></a>
						<a href="https://www.instagram.com/papoapapo2020/"  target="_blank"><i class="fab fa-instagram"></i></a>
						<a href="https://www.twitter.com/papoapapo/"  target="_blank"><i class="fab fa-twitter"></i></a>						
						<a href="mailto:papoapapo2020@gmail.com" class="fa fa-envelope" target="_blank"></a>

					</p>
				</div>
		</div>
	</div>
	</a>
	<p> Consulte a nossa <a href="/privacidade"> Política de Privacidade</a></p>