<nav class="navbar fixed-top navbar-expand-lg navbar-custom">
	  <a class="navbar-brand" href="#">Papo a Papo</a>
	  <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="main_nav">
		<ul class="navbar-nav text-right">
		  <li class="nav-item active"> <a class="nav-link" href="#">Início </a> </li>
		  <li class="nav-item"><a class="nav-link" href="#historia"> História </a></li>
		  <li class="nav-item"><a class="nav-link" href="#comojogar"> Como Jogar </a></li>
		  <li class="nav-item"><a class="nav-link" href="#testemunhos"> Testemunhos </a></li>
		  <li class="nav-item"><a class="nav-link" href="#contactos"> Contactos </a></li>
		  <li class="nav-item"><a class="nav-link" href="./blog"> Blog </a></li>
		  <li class="nav-item"><a class="nav-link" href="./game/jogo.html"> Jogo </a></li>
		</ul>
	  </div> <!-- navbar-collapse.// -->
	</nav>
	<div>
		<img src="/images/MockUp_web.jpg" alt="Mockup do baralho de cartas" width=100%>
	</div>
	<div class="container">	
	
	<div class="description"> <p>Um jogo de cartas conversacional para aprofundar a ligação entre as pessoas.</p>
					<p>Destinado a jogar em familia, entre amigos, em círculos formativos ou de partilha.</p>
					<p>Disponível em versão física e digital.</p>					
					<p>De 2 a 30 jogadores.</p>  
					<p><a href="#historia" class="btn btn-primary scroll">Quero saber Mais !</a></p>
	</div>
	<div class="testers_callout"> 
					<p>Agora disponível para telemóveis Android em modo de teste.</p>
					<p>Queres aceder gratuitamente ao Papo a Papo no teu telemóvel?</p>
					<ol>
					<li>Pede para te juntares ao <a href="https://groups.google.com/g/papoapapo_testers/">grupo de <i> testers </i> do Papo a Papo</a> com o email da tua conta Google na Play Store</li>
					<li>Depois de receber um email a informar que a tua adesão foi aprovada, no teu telemóvel acede e instala a <a href="https://play.google.com/store/apps/details?id=com.papoapapo">aplicação do Papo a Papo</a></li>
					<li>Se tiveres dúvidas, envia-nos um email para <a href="mailto:papoapapo2020@gmail.com" target="_blank">papoapapo2020@gmail.com</a></li>
					<ol>
	</div>		
     <a id="historia">
		<div class="row">
			<div class="col-md-6">
				<div class='history'>
					<img src="/images/historia.png" alt="historia papo a papo">
				</div>
			</div>
			<div class="col-md-6">		
				<div class="history_illustration">
					<img src="/images/jogando.jpg" alt="pessoas jogando papo a papo" width="100%">
				</div>
			</div>
		</div>
	</a>
    <a id="comojogar">

	<div class="row">
		<div class="col-md-6">
			<div class='rules_illustration'>
				<img src="/images/tipos_cartas.jpg" width="100%" alt="tipos de cartas">
			</div>
		</div>
		<div class="col-md-6">		
			<div class="rules">
				<img src="/images/regras.png" alt="Regras do Jogo Papo a Papo">
			</div>
		</div>
	</div>
	</a>
	<a id="testemunhos"> </a>
	<div class="row">
		<div class="col-lg-8 mx-auto">
			<h2>Testemunhos</h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>

				</ol>   
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<p class="testimonial">Dei uma formação de parentalidade a 40 professores/terapeutas, usei numa altura que precisava de animar e conectar o grupo. Funcionou muito bem. É simples, leve e profundo ao mesmo tempo. Eles gostaram bastante.  </p>
						<p class="overview"><b>Marzia Carré</b>, Especialista em parentalidade.<a href="https://mammamarzia.com/" alt="" target="_blank"> https://mammamarzia.com/</a></p>
					</div>
					<div class="carousel-item">
						<p class="testimonial">Gostei muito, pela forma como cria espaço de partilha a um nível de profundidade aberto, pela dinâmica aberta e de surpresa que permite o desapego do controle, e pelos desafios com humor que propõe.</p>
						<p class="overview"><b>Elsa Brito</b>, Professora e Participante em jogo online</p>
					</div>
					<div class="carousel-item">
						<p class="testimonial">Querido Diogo, a Fatima ofereceu-nos um baralho Papo a Papo. Jogámos em família em férias no Gerês e nossos filhotes de 13 e 9 anos amaram (assim como nós!) A emoção do mais velho era visível. Ele disse que foi muito interessante jogar e que nunca tinha jogado algo assim; que nunca pensou falar nalgumas coisas que falou, e algumas tão profundas a ponto de por umas ocasiões (2 ou 3) seus olhos humedecerem! Nunca pensámos ouvir o que saía das nossas "almas"! Simples e tão bom! Divertimo-nos tanto! Muito grata, Oriana, Diogo e Fátima! Quero comprar e oferecer! E espalhar! Como prenda para amigos é um achado!</p>
						<p class="overview"><b>Ana Parente</b>, Mãe, Gestora de Alojamento Local</p>
					</div>
					<div class="carousel-item">
						<p class="testimonial">Hoje joguei com o meu filho de 6 anos a versão física. Foi hilariante. Descobri que embora ele não saiba ler as  perguntas ou mesmo percebe-las na íntegra, cria a oportunidade para eu lhe explicar certos temas e conceitos e para ele me dar perspectivas engraçadas e fora da caixa sobre os mesmos temas. </p>
						<p class="overview"><b>Giordano Bruno</b>, Pai</p>
					</div>
					
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		  </div>
	    </div>
  
			<div class="contact">
				<h2 id='pre'>Encomendas</h2>
				<form  action="https://formspree.io/f/xzbkynaj"  method="POST">
				   <label> Nome: <br />
					<input type="text" name="name" size="40"> </label>
					<br />
				  <label> Email: <br />
					<input type="text" name="_replyto" size="40" required>
				  </label>
				  <br />
				  <label> 					
					Quero o baralho:
				  </label><br>
				  <input type="radio" id="digital" name="digital_fisico" value="digital" required>
					<label for="digital">Digital</label><br>
				  <input type="radio" id="fisico" name="digital_fisico" value="fisico" required>
					<label for="fisico">Físico</label><br>
				  <label> Código promocional: 
					<input type="text" name="codigo_promocional" size="5">
				  </label>
				  <label> Número de baralhos pretendidos (físicos): 
					<input type="number" name="numero_de_baralhos" min="0" max="50" style="width: 3em">
				  </label>
				  
				  <label> Morada para envio do(s) baralho(s) (físico(s)): <br />
					<textarea name="address" cols="50"></textarea>
				  </label>
				  <br />
				  <label> Comentários adicionais:<br />
					<textarea name="message" cols="50"></textarea>
				  </label>
				  <label> 					
					Aceito receber novidades do Papo a Papo por email
				  </label><br>
				  <input type="radio" id="sim" name="consentimento_novidades" value="sim" required>
					<label for="sim">Sim</label><br>
				  <input type="radio" id="nao" name="consentimento_novidades" value="nao" required>
					<label for="nao">Não</label><br>
				  <button type="submit" class="btn btn-primary scroll">Encomendar</button>
				</form>
			</div>
	</div>
	<div class="row" style="margin-bottom:20px;">
		<div class="col-md-6" style="padding-left:30px;">
			<img src="/images/jogodigital_vantagens.jpg" width="100%"/>
		</div>

		<div class="col-md-6">		
			<img src="/images/baralhofisico_vantagens.jpg" width="100%"/>
			<script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
		</div>

	</div>
	<div class="row">
		<div class="col-md-6">		
			<div class='contact_end'>
				<h2 >Encomendas</h2>
				<form  action="https://formspree.io/f/xzbkynaj"  method="POST">
				   <label> Nome: <br />
					<input type="text" name="name" size="40"> </label>
					<br />
				  <label> Email: <br />
					<input type="text" name="_replyto" size="40" required>
				  </label>
				  <br />
				  <label> 					
					Quero o baralho:
				  </label><br>
				  <input type="radio" id="digital" name="digital_fisico" value="digital" required>
					<label for="digital">Digital (5€)</label><br>
				  <input type="radio" id="fisico" name="digital_fisico" value="fisico" required>
					<label for="fisico">Físico  (20€)</label><br>
				  <label> Código promocional: 
					<input type="text" name="codigo_promocional" size="5">
				  </label>
				   <label> Número de baralhos pretendidos (físicos): 
					<input type="number" name="numero_de_baralhos" min="0" max="50" style="width: 3em">
				  </label>
				  <label> Morada para envio do(s) baralho(s) (físico(s)): <br />
					<textarea name="address" cols="50"></textarea>
				  </label>
				  <br />
				  <label> Comentários adicionais:<br />
					<textarea name="message" cols="50"></textarea>
				  </label>
				  <label> 					
					Aceito receber novidades do Papo a Papo por email
				  </label><br>
				  <input type="radio" id="sim" name="consentimento_novidades" value="sim" required>
					<label for="sim">Sim</label><br>
				  <input type="radio" id="nao" name="consentimento_novidades" value="nao" required>
					<label for="nao">Não</label><br>
				  <button type="submit" class="btn btn-primary scroll">Encomendar</button>
				</form>
			</div>
		</div>
	</div>
	
	<a id="contactos">
	<div class="row">	
		<div class="col-md-12 col-center m-auto">
				<div class='social_icons'>
					<p style="margin-top:30px;">Siga e contacte-nos em <br>
						<a href="/blog"  target="_blank"><i class="fas fa-blog"></i></a>
						<a href="https://www.facebook.com/papoapapo2020"  target="_blank"><i class="fab fa-facebook"></i></a>
						<a href="https://www.instagram.com/papoapapo2020/"  target="_blank"><i class="fab fa-instagram"></i></a>
						<a href="https://www.twitter.com/papoapapo/"  target="_blank"><i class="fab fa-twitter"></i></a>						
						<a href="mailto:papoapapo2020@gmail.com" class="fa fa-envelope" target="_blank"></a>

					</p>
				</div>
		</div>
	</div>
	</a>
	<p> Consulte a nossa <a href="/privacidade"> Política de Privacidade</a></p>