---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: site.data.messages.locales[page.locale].posts }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">
		{% assign m = post.date | date: "%-m" %}
		{{ post.date | date: "%-d" }}
		{% case m %}
		  {% when '1' %}de Janeiro
		  {% when '2' %}de Fevereiro
		  {% when '3' %}de Março
		  {% when '4' %}de Abril
		  {% when '5' %}de Maio
		  {% when '6' %}de Junho
		  {% when '7' %}de Julho
		  {% when '8' %}de Agosto
		  {% when '9' %}de Setembro
		  {% when '10' %}de Outubro
		  {% when '11' %}de Novembro
		  {% when '12' %}de Dezembro
		{% endcase %}
		{{ post.date | date: "%Y" }}
		<!--{{ post.date | date: date_format }} -->
		</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe"> {{site.data.messages.locales[page.locale].subscribe}} <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}                                                            

</div>
